body {
  font: 0.92em sans-serif;
}

body > * {
  -webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

body.uninit > * {
  visibility: hidden;
  opacity: 0;
}

#file_container {
  position: absolute;
  top: 50%; left: 50%;
  margin: -100px 0 0 -200px; padding: 0;
  width: 400px; height: 200px;
  background: #cec;
  border: 10px solid #cec;
  border-radius: 100px;
  overflow: hidden;
}
#file_container:hover {
  border: 10px outset #cec;
}
#file_container:active, #file_container.dragover {
  border: 10px inset #cec;
}
#file_container input {
  position: absolute; top: 0; right: 0;
  font-size: 400px;
  opacity: 0;
  cursor: pointer; /* Won't work in Fx 3.6 */
}
#login {
  position: absolute;
  top: 50%; left: 50%;
  margin: 140px 0 0 -400px;
  width: 800px; height: auto;
  overflow: visible;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;

  -webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

body:not(.auth_needed) #login {
  visibility: hidden;
  opacity: 0;
}

#status {
  position: absolute;
  top: 50%; left: 50%;
  margin: 180px 0 0 -400px;
  width: 800px; height: auto;
  overflow: visible;
  text-align: center;
  white-space: nowrap;
}
#filelist {
  position: absolute;
  top: 50%; left: 50%;
  margin: 240px 0 0 -200px;
  width: 400px; height: auto;
  overflow: visible;
  text-align: left;
  white-space: nowrap;
}

#filelist li.pending {
  opacity: 0.5;
}

#filelist a[rel="delete"]:not(:hover) {
  color: #99f;
  text-decoration: none;
}
