html {
  min-height: 100%;
  background: linear-gradient(#b4bcbf, #fff) no-repeat;
  background: -webkit-linear-gradient(#b4bcbf, #fff) no-repeat;
}

body {
  font: 14px sans-serif;
  line-height: 16px;

  border: none;
  padding: 0;
  margin: 0;

  color: #333;
}

body > * {
  -webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

body.uninit > * {
  visibility: hidden;
  opacity: 0;
}

header {
  background-color: #2d2d2d;
  border-bottom: 2px solid #000;
  height: 32px;
}

header a {
  color: #fff;
}

header a:not(:hover) {
  text-decoration: none;
}

header > p {
  position: absolute;
  width: 100%;
  height: 32px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0;
  padding: 8px;

  white-space: nowrap;
  text-align: right;

  color: #fff;

  -webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

#login {
  font-weight: bold;
}

body:not(.auth_needed) #login {
  visibility: hidden;
  opacity: 0;
}

#login_status:empty {
  visibility: hidden;
  opacity: 0;
}

/*
<i> cloud, design by daneden

http://dabblet.com/gist/2945570
https://gist.github.com/2945570
*/

.cloud {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -75px -225px;

  display: block;
  background-color: #fff;
  width: 450px;
  height: 150px;
  border-radius: 150px;
  box-shadow:
    inset 0 -10px rgba(255,255,255,.6),
    0 20px 20px rgba(0,0,0,.1),
    inset 0 -20px 20px rgba(0,100,160,.1);

  transition: box-shadow 0.5s ease;
  -webkit-transition: none; /* webkit doesn't support
  transition of :before and :after */
}

.cloud:before, .cloud:after {
  content:'';
  position: absolute;
  background-color: #fff;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  top: -60px;
  left: 70px;
  box-shadow: 0 -20px 20px rgba(0,0,0,.05);

  transition: box-shadow 0.5s ease;
  -webkit-transition: none;
}

.cloud:after {
  width: 230px;
  height: 230px;
  left: auto;
  right: 70px;
  top: -100px
}

.cloud:hover,
body.dragover .cloud {
  box-shadow:
    inset 0 -10px rgba(255,255,255,.6),
    0 10px 30px 10px rgba(255,255,192,.8),
    inset 0 -20px 20px rgba(0,100,160,.1);
}
.cloud:hover:before, .cloud:hover:after,
body.dragover .cloud:before, body.dragover .cloud:after {
  box-shadow: 0 -20px 20px rgba(255,255,192,.8);
}

#file_container {
  position: absolute;
  top: -80%; left: -10%;
  margin: 0; padding: 0;
  width: 120%; height: 200%;
  overflow: hidden;

  z-index: 10;
}
#file_container input {
  position: absolute; top: 0; right: 0;
  font-size: 400px;
  opacity: 0;
  cursor: pointer; /* Won't work in Fx 3.6 */
}

#status {
  position: absolute;
  top: 50%; left: 50%;
  margin: 150px 0 0 -400px;
  width: 800px; height: auto;
  overflow: visible;
  text-align: center;
  white-space: nowrap;

  color: #666;
}
#filelist {
  position: absolute;
  top: 50%; left: 50%;
  margin: 200px 0 0 -200px;
  width: 400px; height: auto;
  overflow: visible;
  text-align: left;
  white-space: nowrap;
  padding-bottom: 20px;
}

#filelist li.pending {
  opacity: 0.5;
}

#filelist a[rel="delete"]:not(:hover) {
  color: #99f;
  text-decoration: none;
}
