html {
  min-height: 100%;
  background: linear-gradient(#b4bcbf, white) no-repeat;
  background: -webkit-linear-gradient(#b4bcbf, white) no-repeat;
}

body {
  font: 14px sans-serif;
  line-height: 16px;
  border: none;
  padding: 0;
  margin: 0;
  color: #333;
  > * {
    -webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
    transition: visibility 0.3s ease, opacity 0.3s ease;
  }
  &.uninit > * {
    visibility: hidden;
    opacity: 0;
  }
}

header {
  background-color: #2d2d2d;
  border-bottom: 2px solid #000;
  height: 32px;
  a {
    color: #fff;
    &:not(:hover) {
      text-decoration: none;
    }
  }
  > p {
    position: absolute;
    width: 100%;
    height: 32px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 8px;
    white-space: nowrap;
    text-align: right;
    color: #fff;
    -webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
    transition: visibility 0.3s ease, opacity 0.3s ease;
  }
}

#login {
  font-weight: bold;
}

body:not(.auth_needed) #login, #login_status:empty {
  visibility: hidden;
  opacity: 0;
}

@keyframes dramaticEntry {
  0% {
    opacity: 0;
    transform: translateY(-2000px); }
  60% {
    opacity: 1;
    transform: translateY(30px); }
  80% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0); }
}


@-webkit-keyframes dramaticEntry {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px); }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px); }
  80% {
    -webkit-transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0); }
}

@keyframes shake {
  0%, 50% { transform: translateX(0); }
  5%, 15%, 25%, 35%, 45% { transform: translateX(-10px); }
  10%, 20%, 30%, 40% { transform: translateX(10px); }
}

@-webkit-keyframes shake {
  0%, 50% { -webkit-transform: translateX(0); }
  5%, 15%, 25%, 35%, 45% { -webkit-transform: translateX(-10px); }
  10%, 20%, 30%, 40% { -webkit-transform: translateX(10px); }
}

/*
<i> cloud, design by daneden

http://dabblet.com/gist/2945570
https://gist.github.com/2945570
*/

.cloud {
  @mixin cloud_dim($cloud_size) {
    $cloud_height: 15 * $cloud_size;
    $cloud_width: 45 * $cloud_size;

    margin: (- $cloud_height / 2) (- $cloud_width /2);

    width: $cloud_width;
    height: $cloud_height;
    border-radius: $cloud_height;
    box-shadow:
      inset 0 (- $cloud_size) rgba(255, 255, 255, 0.6),
      0 (2 * $cloud_size) (2 * $cloud_size) rgba(0, 0, 0, 0.1),
      inset 0 (- 2 * $cloud_size) (2 * $cloud_size) rgba(0, 100, 160, 0.1);

    &:before, &:after {
      box-shadow: 0 (- 2 * $cloud_size) (2 * $cloud_size) rgba(0, 0, 0, 0.05);
    }

    &:hover, body.dragover & {
      &:before, &:after {
        box-shadow: 0 (- 2 * $cloud_size) (2 * $cloud_size) rgba(255, 255, 192, 0.8);
      }
      box-shadow:
        inset 0 (- $cloud_size) rgba(255, 255, 255, 0.6),
        0 $cloud_size (3 * $cloud_size) $cloud_size rgba(255, 255, 192, 0.8),
        inset 0 (-2 * $cloud_size) (2 * $cloud_size) rgba(0, 100, 160, 0.1);
    }
  }

  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background-color: #fff;

  @include cloud_dim(10px);
  @media (min-width: 520px) and (max-width: 800px) {
    @include cloud_dim(7.5px);
  }
  @media (max-width: 520px) {
    @include cloud_dim(5px);
  }

  transition:
    box-shadow 0.5s ease,
    background-color 0.5s ease,
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  -webkit-transition:
    -webkit-transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  /* webkit doesn't support transition of :before and :after */

  z-index: 2;

  body.leave-uninit & {
    animation: dramaticEntry 1s;
    -webkit-animation: dramaticEntry 1s;
  }

  body.uploading & {
    animation: shake 2s infinite;
    -webkit-animation: shake 2s infinite;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    background-color: #fff;
    border-radius: 100%;
    transition:
      box-shadow 0.5s ease,
      background-color 0.5s ease;
    -webkit-transition: none;
  }
  &:before {
    width: (14 / 45) * 100%;
    height: (14 / 15) * 100%;
    top: (-6 / 15) * 100%;
    left: (7 / 45) * 100%;
  }
  &:after {
    width: (23 / 45) * 100%;
    height: (23 / 15) * 100%;
    top: (-11 / 15) * 100%;
    right: (6 / 45) * 100%;
  }
  $golden-bg-color: #fffff8;
  &:hover, body.dragover & {
    &:before, &:after {
      background-color: $golden-bg-color;
    }
    background-color: $golden-bg-color;
  }
  body.dragover & {
    opacity: 0.8;
    transform: scale(1.5) rotate(10deg);
    -webkit-transform: scale(1.5) rotate(10deg);
  }
}

#file_container {
  position: absolute;
  top: -80%;
  left: -10%;
  margin: 0;
  padding: 0;
  width: 120%;
  height: 200%;
  overflow: hidden;
  z-index: 10;
  input {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 400px;
    opacity: 0;
    cursor: pointer; /* Won't work in Fx 3.6 */
  }
}

#content {
  $content_width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 150px 0 0 (- $content_width / 2);
  width: $content_width;
  height: auto;
  overflow: visible;
  @media (max-width: 800px) {
    left: 0;
    margin: 100px 0 0 0;
    width: 100%;
  }
}

#status {
  text-align: center;
  color: #666;
}

#filelist {
  margin: 0 auto;
  width: 400px;
  padding-bottom: 20px;
  @media (max-width: 800px) {
    width: auto;
  }
  li.pending {
    opacity: 0.5;
  }
  a[rel="delete"]:not(:hover) {
    color: #99f;
    text-decoration: none;
  }
}
