html {
  min-height: 100%;
  background: linear-gradient(#b4bcbf, #ffffff) no-repeat;
  background: -webkit-linear-gradient(#b4bcbf, white) no-repeat; }

body {
  font: 14px sans-serif;
  line-height: 16px;
  border: none;
  padding: 0;
  margin: 0;
  color: #333; }
  body > * {
    -webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
    transition: visibility 0.3s ease, opacity 0.3s ease; }
  body.uninit > * {
    visibility: hidden;
    opacity: 0; }

header {
  background-color: #2d2d2d;
  border-bottom: 2px solid black;
  height: 32px; }
  header a {
    color: #fff; }
    header a:not(:hover) {
      text-decoration: none; }
  header > p {
    position: absolute;
    width: 100%;
    height: 32px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 8px;
    white-space: nowrap;
    text-align: right;
    color: #fff;
    -webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
    transition: visibility 0.3s ease, opacity 0.3s ease; }

#login {
  font-weight: bold; }

body:not(.auth_needed) #login, #login_status:empty {
  visibility: hidden;
  opacity: 0; }

@keyframes dramaticEntry {
  0% {
    opacity: 0;
    transform: translateY(-2000px); }

  60% {
    opacity: 1;
    transform: translateY(30px); }

  80% {
    transform: translateY(-10px); }

  100% {
    transform: translateY(0); } }

@-webkit-keyframes dramaticEntry {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px); }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px); }

  80% {
    -webkit-transform: translateY(-10px); }

  100% {
    -webkit-transform: translateY(0); } }

@keyframes shake {
  0%, 50% {
    transform: translateX(0); }

  5%, 15%, 25%, 35%, 45% {
    transform: translateX(-10px); }

  10%, 20%, 30%, 40% {
    transform: translateX(10px); } }

@-webkit-keyframes shake {
  0%, 50% {
    -webkit-transform: translateX(0); }

  5%, 15%, 25%, 35%, 45% {
    -webkit-transform: translateX(-10px); }

  10%, 20%, 30%, 40% {
    -webkit-transform: translateX(10px); } }

/*
<i> cloud, design by daneden

http://dabblet.com/gist/2945570
https://gist.github.com/2945570
*/
.cloud {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -75px -225px;
  display: block;
  background-color: #fff;
  width: 450px;
  height: 150px;
  border-radius: 150px;
  box-shadow: inset 0 -10px rgba(255, 255, 255, 0.6), 0 20px 20px rgba(0, 0, 0, 0.1), inset 0 -20px 20px rgba(0, 100, 160, 0.1);
  transition: box-shadow 0.5s ease, background-color 0.5s ease, transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  /* webkit doesn't support transition of :before and :after */
  z-index: 2; }
  body:not(.uninit) .cloud {
    animation: dramaticEntry 1s;
    -webkit-animation: dramaticEntry 1s; }
  body.uploading .cloud {
    animation: shake 2s infinite;
    -webkit-animation: shake 2s infinite; }
  .cloud:before, .cloud:after {
    content: '';
    position: absolute;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.5s ease, background-color 0.5s ease;
    -webkit-transition: none; }
  .cloud:before {
    width: 140px;
    height: 140px;
    top: -60px;
    left: 70px; }
  .cloud:after {
    width: 230px;
    height: 230px;
    right: 60px;
    top: -110px; }
  .cloud:hover, body.dragover .cloud {
    background-color: #fffff8;
    box-shadow: inset 0 -10px rgba(255, 255, 255, 0.6), 0 10px 30px 10px rgba(255, 255, 192, 0.8), inset 0 -20px 20px rgba(0, 100, 160, 0.1); }
    .cloud:hover:before, .cloud:hover:after, body.dragover .cloud:before, body.dragover .cloud:after {
      background-color: #fffff8;
      box-shadow: 0 -20px 20px rgba(255, 255, 192, 0.8); }
  body.dragover .cloud {
    opacity: 0.8;
    transform: scale(1.5) rotate(10deg);
    -webkit-transform: scale(1.5) rotate(10deg); }

#file_container {
  position: absolute;
  top: -80%;
  left: -10%;
  margin: 0;
  padding: 0;
  width: 120%;
  height: 200%;
  overflow: hidden;
  z-index: 10; }
  #file_container input {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 400px;
    opacity: 0;
    cursor: pointer;
    /* Won't work in Fx 3.6 */ }

#status {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 150px 0 0 -400px;
  width: 800px;
  height: auto;
  overflow: visible;
  text-align: center;
  white-space: nowrap;
  color: #666; }

#filelist {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 200px 0 0 -200px;
  width: 400px;
  height: auto;
  overflow: visible;
  text-align: left;
  white-space: nowrap;
  padding-bottom: 20px; }
  #filelist li.pending {
    opacity: 0.5; }
  #filelist a[rel="delete"]:not(:hover) {
    color: #99f;
    text-decoration: none; }
